
test_bank/OSISUS_Figure 7_2_4.jpg
test_bank/SISUGP_Figure10.jpg
test_bank/SISUGP_Figure8_1.jpg
test_bank/SISUGP_Figure9_1.jpg
test_bank/SISUGP_Figure9_1_little.jpg
test_bank/SISUGP_Figure9_2.jpg
test_bank/SISUGP_Figure9_3.jpg
